<!-- Cols with fields -->
<div class="footer">

  <h2 class="footer__heading">Preview</h2>

  <div class="row" ui-sortable="vm.sortableOptions" ng-model="vm.data">

    <div class="col-md-3 col-sm-6 footer__col center-block bg-color-animation cursor-move remove-float"
         ng-repeat="col in vm.data track by col.id | limitTo : 10"
         ng-class="{'ui-active': col.active, 'disabled': vm.disable}"
         custom-click custom-click-class="btns-visible">
      <h3 class="footer__col-heading">{{col.heading}}</h3>
      <div class="footer__divider"></div>
      <ul class="footer__list" ui-sortable="vm.sortableOptions" ng-model="col.links">
        <li class="footer__item" ng-repeat="link in col.links track by $index">
          <span class="footer__link decoration-none">{{link.name}}</span>
        </li>
      </ul>
      <div class="footer__btn-block" ng-class="{ 'hide': vm.disable }">
        <button class="btn btn-neutral" custom-click="vm.edit(col)" ng-disabled="vm.disable" du-smooth-scroll="editForm" duration="1200" offset="50">Edit</button>
        <button class="btn btn-neutral" custom-click="vm.removeCol(col.id, vm.data)" ng-disabled="vm.disable">Delete</button>
      </div>
    </div>

  </div>

</div>

<!--  Edit field  -->
<div class="row">
  <form id="editForm"
        class="footer-form form-inline center-block col-md-10 col-lg-8"
        name="editForm"
        ng-submit="vm.save(editForm)"
        novalidate>

    <h2 class="footer-form__heading">Edit or add new column</h2>

    <div class="footer-form__elements bg-color-animation" ng-class="{ 'ui-active': vm.newcol.active}">

      <div class="footer-form__category row">
        <div class="col-xs-10 col-sm-5">
          <input
                 name="heading"
                 class="footer-form__input input-admin form-control" type="text" placeholder="Heading"
                 ng-class="{ 'input-admin-error' : editForm.heading.$invalid && !editForm.heading.$pristine }"
                 required ng-minlength="3"
                 ng-model="vm.newcol.heading"
                 />
        </div>
      </div>

      <ul class="footer-form__list">
        <li class="footer-form__item row" ng-repeat="link in vm.newcol.links">
          <div class="col-xs-5">
            <input
                   name="lPath{{::$index}}"
                   class="input-admin form-control footer-form__input"
                   type="text" placeholder="Link url"
                   ng-class="{ 'input-admin-error' : editForm.lPath{{::$index}}.$invalid && !editForm.lPath{{::$index}}.$pristine }"
                   required ng-minlength="2"
                   ng-model="link.path"
                   />
          </div>
          <div class="col-xs-5 footer-form__col--padding-left">
            <input
                   name="lName{{::$index}}"
                   class="input-admin form-control footer-form__input"
                   type="text" placeholder="Link name"
                   ng-class="{ 'input-admin-error' : editForm.lName{{::$index}}.$invalid && !editForm.lName{{::$index}}.$pristine }"
                   required ng-minlength="3"
                   ng-model="link.name"
                   />
          </div>
          <div class="col-xs-1">
            <button class="footer-form__btn-remove close" custom-click="vm.removeLink(link, vm.newcol.links)" type="button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </li>
      </ul>

      <input type="hidden" ng-model="vm.newcol.id" />

      <div class="row">
        <div class="col-xs-5">
          <button class="btn btn-neutral footer-form__btn-submit" ng-disabled="editForm.$invalid" type="submit">Submit to preview</button>
        </div>
        <div class="col-xs-5 clearfix">
          <button class="btn btn-neutral footer-form__btn-add-link pull-right" type="button" ng-click="vm.addLink()">Add new link</button>
        </div>
      </div>

    </div>

  </form>
</div>

<div class="row margin-bottom">
  <div class="col-md-6 col-md-offset-3">
    <button class="btn btn-warning btn-block btn-lg btn-admin-warning" ng-click="vm.putLive()" ng-disabled="vm.disable"><strong>Put changes to live</strong></button>
  </div>
</div>
