<div class="container xs-wrapper">

  <div class="main-nav-wrapper">
    <a ui-sref="admin" class="btn-arrow btn-arrow__right">
      <span class="btn-arrow__extra-text">GO TO</span> ADMIN <span class="btn-arrow__extra-text">VIEW</span>
    </a>
  </div>


  <home-products products-data="vm.productsData"></home-products>

  <home-footer footer-data="vm.footerData"></home-footer>

</div>
