<div class="product-modal">

  <div class="modal-header">
    <h3 class="modal-title">Choose category which products are first displayed</h3>
  </div>
  <div class="modal-body">

    <form name="selectCategoryForm"
          ng-submit="vm.save()"
          novalidate>

      <div class="form-group">
        <select
                name="cName"
                class="form-control input-admin"
                required
                ng-model="vm.selectedCategory"
                ng-options="item.category for item in vm.items"
                ng-class="{ 'error' : selectCategoryForm.$submitted && selectCategoryForm.cName.$invalid}">
          <option value="">-- Select category --</option>
        </select>
      </div>

      <div class="product-modal__msg" ng-show="selectCategoryForm.$submitted && selectCategoryForm.cName.$invalid">Selecting a category is mandatory</div>

      <div class="btn-block">
        <button class="btn btn-neutral" type="submit">Ok</button>
        <button class="btn btn-neutral" type="button" ng-click="vm.cancel()">Cancel</button>
      </div>
    </form>

  </div>

</div>
