
/* Windows Phone 8 Viewport Fix */
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}


body {
    background-image: url('../../images/body-bg2.png');
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-shadow: 0 1px 0 #FFF;
}

.xs-wrapper {
    @include breakpoint($xs){
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

.remove-float {
    float:none!important;
    display:inline-block!important;
    vertical-align: top!important;
    @include breakpoint($xs) {
        display:block!important;
    }
}

.img-responsive-fix {
    width: 100%;
}









