
.bg-color-animation.ui-active {
    animation: change-color 0.7s;
    animation-fill-mode: forwards;
}

@keyframes change-color {
    0% {
        background: #fff;
        box-shadow: 0px 0px 1px 3px rgba(255, 187, 0, 0);
    }
    100% {
        background: rgba(255, 187, 0, 0.4);
        box-shadow: 0px 0px 1px 3px rgba(255, 187, 0, 0.4);
    }
}
