
.repeat-fade-animation.ng-enter {
    opacity: 0.2 ;
    padding-left: 30px;
    transition: all ease 250ms;
}
.repeat-fade-animation.ng-enter-stagger {
    transition-delay: 0.1s ;
    -webkit-transition-delay: 0.1s ;

    /* In case the stagger doesn't work then these two values must be set
    to 0 to avoid an accidental CSS inheritance. */
    transition-duration: 0s ;
    -webkit-transition-duration: 0s ;
}
.repeat-fade-animation.ng-enter-active {
    opacity: 1.0 ;
    padding-left: 0px ;
}
.repeat-fade-animation.ng-leave-active {
    display: none;
}
