/* If using javascript */

/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
    .xs-clear-left {
        clear:left;
    }
}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {
    .sm-clear-left {
        clear:left;
    }
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px)  {
    .md-clear-left {
        clear:left;
    }
}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {
    .lg-clear-left {
        clear:left;
    }
}

/*
Add ng-class to same element where is ng-repeat!
ng-class="{
    'sm-clear-left' : $index % 2 == 0,
    'md-clear-left' : ($index + 1) % 5 == 0,
    'lg-clear-left' : ($index + 1) % 5 == 0
}"
*/




/* If using CSS */

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {
    .item-clear .item-clear__left:nth-of-type(2n+1) { // every third (or use :nth-of-type)
        clear:left;
    }
}
/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px)  {
    .item-clear .item-clear__left:nth-of-type(4n+1) { // every fifth
        clear:left;
    }
}
/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {
    .item-clear .item-clear__left:nth-of-type(4n+1) { // every fifth
        clear:left;
    }
}

/*
Add .item-clear to element where is also .row and
.item-clear__left to every col.
*/








