/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {

}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {

}





