
/* VARIABLES */
$productNavLine: #7b7b7b;



.products {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}

.products-category {
    text-align: center;
    border-bottom: $productNavLine 1px solid;
    margin-bottom:30px;
}
.products-category__item {
    cursor:pointer;
    display: inline-block;
    position: relative;
    text-align: left;
    margin-right:20px;
    padding-bottom: 15px;

    @include breakpoint($xs) {
        display: block;
        text-align: center;
        margin-right:0;
    }
}


.products-category__item:last-of-type {
        margin-right:0;
}
.products-category__item--active:after {
    content:'';
    position:absolute;
    left: 50%;
    margin-left: -6px;
    bottom: -7px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: $productNavLine transparent transparent transparent;

    @include breakpoint($xs) {
        display: none;
    }
}

.products-category__heading {
    font-size: 23px;
    color: #8d8d8d;
    margin-bottom:10px;

    @include breakpoint($xs){
        font-size: 30px;
    }

}
.products-category__heading::first-letter {
    text-transform: capitalize;
}
.products-category__heading--active {
    color: #3e3e3e;
    font-weight: 700;
}


.product {
    margin-bottom:50px;
}

.product__link, .product__link:hover {
    text-decoration: none;
}
.product__link {
    display: block;
}
.product__link--margin {
    margin-left: 20px;
    margin-right: 20px;
}

.product__img {
    @include borderRadius(4px);
}

.product__name, .product__description, .product__price {
    display: block;
    text-align: center;
    padding-left: 20px;
    padding-right:20px;
}
.product__name, .product__price {
    font-weight: 700;
}
.product__name {
    text-transform: uppercase;
    color: #353535;
    font-size: 16px;
    line-height: 30px;
    margin-top: 5px;

    @include breakpoint($xs) {
        font-size: 39px;
        line-height: 50px;
        margin-top: 30px;
    }
    @include breakpoint($sm-only) {
        font-size: 26px;
        line-height: 38px;
        margin-top: 20px;
    }
}
.product__description {
    font-style: italic;
    color: #6e6e6e;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;

    @include breakpoint($xs) {
        font-size: 24px;
        line-height: 30px;
        margin-top: 10px;
    }
    @include breakpoint($sm-only) {
        font-size: 18px;
        line-height: 20px;
        margin-top: 7px;
    }
}
.product__price {
    color: #70543f;
    font-size: 18px;
    line-height: 25px;
    margin-top: 6px;

    @include breakpoint($xs) {
        font-size: 32px;
        line-height: 32px;
        margin-top: 14px;
    }
    @include breakpoint($sm-only) {
        font-size: 24px;
        line-height: 28px;
        margin-top: 10px;
    }
}






