
    .footer {
        font-family: 'Raleway', sans-serif;
        margin-bottom: 40px;
    }

    .footer__col {
        margin-bottom: 50px;

        @include breakpoint($xs) {
            text-align: center;
            margin-bottom: 30px;
        }
    }

    .footer__col-heading {
        display: inline-block;
        font-size: 16px;
        color: #3f3f3f;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;

        @include breakpoint($xs) {
            font-size: 26px;
            line-height: 38px;
        }
        @include breakpoint($sm-only) {
            font-size: 22px;
            line-height: 35px;
        }
    }

    .footer__divider {
        background: #d6d6d6;
        height:1px;
        width:90%;
        margin-top:10px;
        margin-bottom:10px;

        @include breakpoint($xs){
            width: 70%;
            margin: 0 auto;
            margin-top: 18px;
            margin-bottom: 15px;
        }
    }

    .footer__item {
        position: relative;
    }
    .footer__item:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        border-right: 2px #7b7b7b solid;
        border-bottom: 2px #7b7b7b solid;
        width: 6px;
        height: 6px;
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
        transform: rotate(-45deg);

        @include breakpoint($xs) {
            display: none;
        }
        @include breakpoint($sm-only) {
            top: 11px;
        }
    }

    .footer__link, .footer__link:hover {
        color: #7b7b7b;
    }
    .footer__link {
        font-size: 13px;
        line-height: 26px;
        text-decoration: none;
        text-transform: capitalize;
        margin-left:13px;

        @include breakpoint($xs) {
            margin-left: 0;
            font-size: 22px;
            line-height: 38px;
        }
        @include breakpoint($sm-only) {
            font-size: 15px;
            line-height: 28px;
        }
    }
    .footer__link:hover {
        text-decoration: underline;
    }





