
.footer-form__col--padding-left {
    padding-left:0;
}

.footer-form__input {
    width:100%!important;
    margin-bottom: 10px;
}

.footer-form__btn-remove {
    float:none;
    position: absolute;
    top: 7px;
    left: 0;
    opacity: 0.6;
}


.footer-form__heading, .footer__heading {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    color: #353535;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}
.footer__heading {
    @include breakpoint($xs){
        text-align: center;
        font-size: 34px;
    }
}

.margin-bottom {
    margin-bottom:80px;
}


