.product-modal__msg {
    display: inline-block;
    width: 100%;
    margin-bottom: 14px;
    background-color: #d80000;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #F9F9F9;
    text-shadow: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
