
.products-forms {
    margin-bottom: 50px;
}


.category-form {
    display: inline-block;
    margin-bottom: 30px;
}
.category-form__heading, .product-form__heading {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    color: #353535;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}
.product-form__input {
    margin-bottom:10px;
}


.products-category__btn-block-wrapper {
    display: none;
    z-index: 1;
    position: relative;
    text-align: left;
}
.products-category__btn-block {
    position: absolute;
    left: 50%;
    margin-left: -61px;
}
.products-category__item.btns-visible .products-category__btn-block-wrapper {
    display:block;
    animation: showCategoryControls 0.7s;
    animation-fill-mode: forwards;
}

@keyframes showCategoryControls {
    0% {
        opacity: 0;
        padding-bottom: 0;
    }
    100% {
        opacity: 1;
        padding-bottom: 32px;
    }
}
