
.btn-neutral {
    opacity:1;border:1px solid #CCCCCC;-webkit-box-shadow: #FEFFFF 0px 1px 1px ;-moz-box-shadow: #FEFFFF 0px 1px 1px ; box-shadow: #FEFFFF 0px 1px 1px ;font-family:arial, helvetica, sans-serif; font-size:14px; text-decoration:none; display:inline-block;text-shadow: 0px 1px 0 rgba(255,255,255,1);font-weight:400; color: #757575;
    background-color: #F7F5F6; background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F5F6), to(#DDDDDD));
    background-image: -webkit-linear-gradient(top, #F7F5F6, #DDDDDD);
    background-image: -moz-linear-gradient(top, #F7F5F6, #DDDDDD);
    background-image: -ms-linear-gradient(top, #F7F5F6, #DDDDDD);
    background-image: -o-linear-gradient(top, #F7F5F6, #DDDDDD);
    background-image: linear-gradient(to bottom, #F7F5F6, #DDDDDD);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F7F5F6, endColorstr=#DDDDDD);
}
.btn-neutral:hover {
    border:1px solid #CABCC3;
    background-color: #F5F5F5; background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#E6E3E4));
    background-image: -webkit-linear-gradient(top, #F5F5F5, #E6E3E4);
    background-image: -moz-linear-gradient(top, #F5F5F5, #E6E3E4);
    background-image: -ms-linear-gradient(top, #F5F5F5, #E6E3E4);
    background-image: -o-linear-gradient(top, #F5F5F5, #E6E3E4);
    background-image: linear-gradient(to bottom, #F5F5F5, #E6E3E4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F5F5F5, endColorstr=#E6E3E4);
    color: #757575;
}


.btn-admin-warning {
    font-family: Arial, Helvetica, sans-serif;
    margin-top:70px;
}

.input-admin {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#353535;
    border: 1px solid #ccc;
    opacity: 0.9;
    outline:none;
    box-shadow:none;
}
.input-admin:focus {
    border: 1px solid #999;
    -moz-box-shadow: 0px 0px 1px 0px #FFF;
    -webkit-box-shadow: 0px 0px 1px 0px #FFF;
    box-shadow: 0px 0px 1px 0px #FFF;

}


.input-admin-error {
    border: 1px solid #eb0000!important;
}

// For dragging
.touch-action {
    -ms-touch-action: none; // disable WP8 scrolling
    touch-action: none;
}


.cursor-move {
    cursor:move!important;
}

.decoration-none {
    text-decoration: none!important;
}


/* Edit and Delete buttons */
.product__btn-block,
.footer__btn-block {
    width: 122px;
    display:none;
}
.product__btn-block {
    margin-top: 10px;
    @include breakpoint($xs){
        margin-top:20px;
    }
}
.footer__btn-block {
    position:absolute;
    bottom:-42px;
    @include breakpoint($xs){
        position: relative;
        bottom:auto;
        margin: 0 auto;
    }
}
.btns-visible .product__btn-block, .btns-visible .footer__btn-block {
    display:block;
    animation: showControls 0.7s;
    animation-fill-mode: forwards;
}

@keyframes showControls {
    0% {
        opacity: 0;
        margin-top:0;
    }
    100% {
        opacity: 1;
        margin-top:20px;
    }
}
