<div class="container xs-wrapper">

  <div class="main-nav-wrapper">
    <a ui-sref="home" class="btn-arrow btn-arrow__left" ng-class="{ 'hide': vm.disable}">
      <span class="btn-arrow__extra-text">GO TO</span> HOME <span class="btn-arrow__extra-text">VIEW</span>
    </a>
  </div>


  <admin-products
                  disable="vm.disable"
                  products-data="vm.productsData">
  </admin-products>


  <admin-footer
                disable="vm.disable"
                footer-data="vm.footerData">
  </admin-footer>

</div>
