<!-- Products Preview -->
<div class="products">

  <div class="products-category" ui-sortable="vm.sortableOptions" ng-model="vm.groupNames">
    <div class="products-category__item bg-color-animation cursor-move"
         ng-repeat="name in vm.groupNames track by name.id"
         ng-class="{ 'ui-active' : name.uiActive.category, 'products-category__item--active': name.active, 'disabled': vm.disable }"

         custom-click="vm.disable || vm.changeCategory($index)"
         custom-click-class="btns-visible"
         >
      <h3
          class="products-category__heading touch-action"
          ng-class="{'products-category__heading--active': name.active}"
          >
        {{name.category}}
      </h3>
      <div class="products-category__btn-block-wrapper" ng-class="{ 'hide': vm.disable }">
        <div class="products-category__btn-block">
          <button class="btn btn-neutral" custom-click="vm.edit(name, 'category')" ng-disabled="vm.disable" du-smooth-scroll="editCategoryForm" duration="1200" offset="50">Edit</button>
          <button class="btn btn-neutral" custom-click="vm.removeObj(name.id, vm.groupNames)" ng-disabled="vm.disable">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <ul class="row" ui-sortable="vm.sortableOptions" ng-model="vm.group">
    <li class="col-md-3 col-sm-6 product repeat-fade-animation bg-color-animation cursor-move remove-float"
        ng-repeat="product in vm.group track by product.id"
        ng-class="{ 'ui-active' : product.uiActive.product, 'disabled': vm.disable }"
        custom-click custom-click-class="btns-visible">
      <span class="product__link product__link--margin touch-action">
        <img class="product__img img-responsive img-responsive-fix center-block" ng-src="{{product.photo}}" alt="Product photo">
      </span>
      <span class="product__link product__link--margin touch-action">
        <span class="product__name">{{product.name}}</span>
        <span class="product__description">{{product.description}}</span>
        <span class="product__price">{{product.price | addCurrencySymbol:true}}</span>
      </span>
      <span class="product__btn-block center-block" ng-class="{ 'hide': vm.disable }">
        <button class="btn btn-neutral" custom-click="vm.edit(product,'product')" ng-disabled="vm.disable" du-smooth-scroll="editProductForm" duration="1200" offset="50">Edit</button>
        <button class="btn btn-neutral" custom-click="vm.removeObj(product.id, vm.group)" ng-disabled="vm.disable">Delete</button>
      </span>
    </li>
  </ul>

</div>

<div class="products-forms">

  <div class="row">

    <!--  Edit Category  -->
    <div class="col-md-6">
      <form
            id="editCategoryForm"
            name="editCategoryForm"
            class="category-form bg-color-animation form-inline"
            ng-submit="vm.save(vm.groupNames , editCategoryForm)"
            ng-class="{ 'ui-active' : vm.newobj.uiActive.category }"
            novalidate>

        <h2 class="category-form__heading">Edit or add new category</h2>
        <div class="form-group">
          <input
                 name="cName"
                 class="category-form__input input-admin form-control" type="text" placeholder="Category name"
                 ng-class="{ 'input-admin-error' : editCategoryForm.cName.$invalid && !editCategoryForm.cName.$pristine }"
                 required ng-minlength="3"
                 ng-disabled="vm.newobj.uiActive.product"
                 ng-model="vm.newobj.category"
                 />
        </div>
        <input type="hidden" ng-model="vm.newobj.id" />
        <button class="btn btn-neutral" type="submit" ng-disabled="vm.newobj.uiActive.product || editCategoryForm.$invalid">Submit to preview</button>
      </form>
    </div>

    <!--  Edit Products  -->
    <form
          id="editProductForm"
          name="editProductForm"
          class="col-md-6 product-form bg-color-animation"
          ng-submit="vm.save(vm.group, editProductForm)"
          ng-class="{ 'ui-active' : vm.newobj.uiActive.product }"
          novalidate>

      <h2 class="product-form__heading">Edit or add new product</h2>
      <div class="product-form__elements">

        <input
               name="pPhotoPath"
               class="product-form__input input-admin form-control" type="text" placeholder="Product photo"
               ng-class="{ 'input-admin-error' : editProductForm.pPhotoPath.$invalid && !editProductForm.pPhotoPath.$pristine }"
               required ng-minlength="9"
               ng-disabled="vm.newobj.uiActive.category"
               ng-model="vm.newobj.photo"
               />

        <input
               name="pName"
               class="product-form__input input-admin form-control" type="text" placeholder="Product name"
               ng-class="{ 'input-admin-error' : editProductForm.pName.$invalid && !editProductForm.pName.$pristine }"
               required ng-minlength="2"
               ng-disabled="vm.newobj.uiActive.category"
               ng-model="vm.newobj.name"
               />

        <textarea
                  name="pDescription"
                  class="product-form__input input-admin form-control" type="text" placeholder="Product description"
                  rows="3"
                  ng-class="{ 'input-admin-error' : editProductForm.pDescription.$invalid && !editProductForm.pDescription.$pristine }"
                  required ng-minlength="3" ng-maxlength="150"
                  ng-disabled="vm.newobj.uiActive.category"
                  ng-model="vm.newobj.description"
                  ></textarea>

        <input
               name="pPrice"
               class="product-form__input input-admin form-control" type="text" placeholder="Product price"
               ng-class="{ 'input-admin-error' : editProductForm.pPrice.$invalid && !editProductForm.pPrice.$pristine }"
               required ng-maxlength="8" ng-pattern="/^[0-9€.]+$/"
               ng-disabled="vm.newobj.uiActive.category"
               ng-model="vm.newobj.price"

               currency-input
               amount="vm.newobj.price"
               disable="vm.disable"
               />

        <input
               name="pLinkPath"
               class="product-form__input input-admin form-control" type="text" placeholder="Product link path"
               ng-class="{ 'input-admin-error' : editProductForm.pLinkPath.$invalid && !editProductForm.pLinkPath.$pristine }"
               required ng-minlength="2"
               ng-disabled="vm.newobj.uiActive.category"
               ng-model="vm.newobj.link"
               />

        <input type="hidden" ng-model="vm.newobj.id" />

        <button class="btn btn-neutral"
                type="submit"
                ng-disabled="vm.newobj.uiActive.category || editProductForm.$invalid"
                >
          Submit to preview
        </button>
      </div>

    </form>

  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <button class="btn btn-warning btn-block btn-lg btn-admin-warning" ng-click="vm.putLive()" ng-disabled="vm.disable"><strong>Put changes to live</strong></button>
    </div>
  </div>

</div>
