<div class="products">

  <div class="products-category">
    <div class="products-category__item" ng-repeat="name in ::vm.groupNames track by name.id"
         ng-class="{'products-category__item--active': name.active}">
      <h3
          class="products-category__heading"
          ng-class="{'products-category__heading--active': name.active}"
          ng-click="vm.changeCategory($index)">
        {{::name.category}}
      </h3>
    </div>
  </div>

  <ul class="row">
    <li class="col-md-3 col-sm-6 product repeat-fade-animation remove-float"
        ng-repeat="product in vm.group track by product.id">
      <a class="product__link product__link--margin" ng-href="{{::product.link}}">
        <img class="product__img img-responsive img-responsive-fix center-block" ng-src="{{::product.photo}}" alt="Product photo">
      </a>
      <a class="product__link product__link--margin" ng-href="{{::product.link}}">
        <span class="product__name">{{::product.name}}</span>
        <span class="product__description">{{::product.description}}</span>
        <span class="product__price">{{::product.price | addCurrencySymbol:true }}</span>
      </a>
    </li>
  </ul>

</div>
