
/* Change view button */
.main-nav-wrapper {
    position:relative;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 50px;

    @include breakpoint($xs){
        margin-top: 15px;
        margin-bottom: 40px;
    }
}

$btnArrowColor: #f0ad4e;
.btn-arrow {
    position:absolute;
    display:inline-block;
    font-family: Raleway, sans-serif;
    font-weight:bold;
    height:50px;
    line-height:50px;
    vertical-align:middle;
    text-align:center;
    text-shadow: none;
    padding:0 10px;
    color:#ffffff;
    background-color:$btnArrowColor;

    @include breakpoint($xs){
        width: 100%;
    }
}
.btn-arrow:hover {
    text-decoration: none;
    color:#ffffff;
}
.btn-arrow__left {
    left:0;
    @include borderRadius(0, 3px, 3px, 0);
}
.btn-arrow__right {
    right:0;
    @include borderRadius(3px, 0, 0, 3px);
}
.btn-arrow__left, .btn-arrow__right {
    @include breakpoint($xs){
        @include borderRadius(3px);
    }
}
.btn-arrow__left:after, .btn-arrow__right:after {
    position:absolute;
    top: 0;
    content:"";
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;

    @include breakpoint($xs){
        content:none;
    }
}
.btn-arrow__left:after {
    left:-20px;
    border-right: 20px solid $btnArrowColor;
}
.btn-arrow__right:after {
    right:-20px;
    border-left: 20px solid $btnArrowColor;
}
.btn-arrow__extra-text {
    font-weight: normal;
    display: none;
    @include breakpoint($xs){
        display: inline-block;
    }
}

