<div class="row footer">

  <div class="col-md-3 col-sm-6 center-block footer__col remove-float"
       ng-repeat="col in ::vm.footerData | limitTo : 4">
    <h3 class="footer__col-heading">{{col.heading}}</h3>
    <div class="footer__divider"></div>
    <ul class="footer__list">
      <li class="footer__item" ng-repeat="link in ::col.links">
        <a class="footer__link" ng-href="{{::link.path}}">{{::link.name}}</a>
      </li>
    </ul>
  </div>

</div>
